.followings-view {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-block: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.followings-view__user {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	padding: 15px;
}

.followings-view__user:last-child {
	border-bottom: none;
}
